* {
    box-sizing: border-box;
}
body {
    margin: 1%;
    font-family: 'Montserrat', sans-serif;
    align-content: center;
}
.header {
    background-color: #3590F3;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: #F1E3F3;
}
.icon {
    align-content: center;
}
.bodyicon {
    display: flex;
    flex-flow: wrap;
}

header h1 {
    text-align: center;
    font-size: 2em;
}
main {
    text-align: center;
}
div.gallery {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    text-align: center;
}
.FullImg {
    width: 100%;
    height: auto;
}
article ul{
    list-style-type: none;
}
main h2 {
    font-size: 2rem;
}

nav button {
    background-color: #3590F3;
    color: antiquewhite;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    float: left;
    display: block;
    margin: 10px;
    margin-bottom: 50px;
}
nav {
    background: none;
    margin: 0px;
    min-width: 160px;
    z-index: 1;
}
nav ul {
    list-style-type: none;
    padding: 0px;

}
nav li a.active {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: aliceblue;
    font-size: 1.2rem;
    text-align: center;
}
nav li {
    border: 1px solid white;
}
nav ul li:hover {
    background-color: green;

}
nav button:hover {
    color: green;
}
nav:hover {
    display: block;
}
section.weather-summary {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    border: 5px solid #62BFED;
    font-size: 2.8rem;
}
.TinyImage {
    width: 100%;
    height: auto;
    padding: 0px;
}
.bodyicon {
    width: 15%;
}
table {
    width: 80%;
    text-align: center;
    margin: 2rem 0;
}
.center {
    text-align: center;
    width: 100%;
    height: auto;
    border: 20px solid white;
}
.highlow, .current {
    padding: 20px;
    margin: auto;
}
.images-HalfImg {
    max-width: 50%;
    height: auto;
    padding: 10px;
    float: right;
}
.hidden {
    display: none;
}
#Home, #franklin, #gallery, #green, #spring, #stormcenter {
    background-color: darkorange;
}
article {
    font-size: 1.2rem;
}
.town-article ::after {
    content: "";
    clear: both;
    display: table;
}
footer section.contact {
    display: flex;
    flex-flow: column;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
}
footer {
    text-align: center;
    font-size: .8rem;
    background-color: #F1E3F3;
}
section.footer-bar{
    display: flex;
    flex-flow: column;
    background-color: #8FB8ED;
    color: antiquewhite;
    font-size: .8rem;
    padding: 5px;
}
nav ul.hide {
    display: none;
}

.Small{
    width: 100%;
    height: auto;
    max-height: 100px;
}
form fieldset {
    display: flex;
    flex-flow: column;
    margin:  2rem 0;
    border: 1px solid cadetblue;
    border-radius: 10px;
    padding: .5rem 2%;
}
form one {
    color: cadetblue;
    margin: 0 1rem;
    padding: 0.75rem 0;
}
form label.one {
    display: block;
    padding: .75px;
    color: cadetblue;
    font-size: .8rem;
    margin: 20px;
}
form label.one input {
    margin: 50px;
}
form label.one, form label.one select{
    display: block;
    font-size: 1rem;
    border: solid 1px cadetblue;
    border-radius: 1px;
    padding: .75rem 0;
    color: cadetblue;
    width: 96%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1)
}
.clearfix{
    content: " ";
    clear: both;
    display: table;
}
form label.two{
    display: block;
    padding: .75rem 0;
    color: cadetblue;
    width: 100%;
    max-width: 20rem;
}
form input.submitBtn {
    border: none;
    color: cadetblue;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.two input:required {
    border-left: red solid 6px;
}
form label.two input:required:valid {
    border-left: blue solid 6px;
}
section.forecast {
    display: none;
}
@media only screen and (max-width: 37.5em) {
    .Large {
        display: none;
    }
}

