* {
    box-sizing: border-box;
}
body {
    font-family: "Merriweather", "sans-serif";
    text-align: center;
    background-color: #00FF92;
}
ul {
    text-align: center;
    list-style-type: none;
    padding: none;
    margin: none;
}
