* {
    box-sizing: border-box;
}
body {
    font-family: "Merriweather", "sans-serif";
    text-align: center;
    background-color: #00FF92;
    color: 	#000080;
    font-size: 20px;
}
img.small {
    width: 100%;
    height: auto;
}
img.medium {
    display: none;
}
img.large {
    display: none;
}
header.incon {
    padding: none;
}
ul {
    text-align: center;
    list-style-type: none;
    padding: none;
    margin: none;
}
nav li {
    background: none;
    font-family: "Merriweather", "sans-serif";
    padding: 16px;
    font-size: 30px;
    color: 	#000080;
    display: block;
    margin: 0px;
    min-width: 160px;
    z-index: 1;
}
nav ul li:hover {
    background-color: #008080;
}
#daily, #info, #events, #home, #sales, #services {
    background-color: white;
}
@media only screen and (max-width: 37.5em) {

    .Large {
        display: none;
    }
    .Medium {
        display: none;
    }
}
